<div class="grid12-3">
    <div class="collapsible mobile-collapsible">
        <h6 class="block-title heading"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Information</span></span></h6>
        <div class="block-content">
            <ul class="disc">
                <li>{{widget type="cms/widget_page_link" template="cms/widget/link/link_block.phtml" page_id="3"}}</li>
                <li>{{widget type="cms/widget_page_link" anchor_text="Leveranser & returer" template="cms/widget/link/link_block.phtml" page_id="4"}}</li>
                <li>{{widget type="cms/widget_page_link" template="cms/widget/link/link_block.phtml" page_id="6"}}</li>
                <li>{{widget type="cms/widget_page_link" template="cms/widget/link/link_block.phtml" page_id="15"}}</li>
                <li><a title="Budofitness Privacy Policy" href="https://budofitness.se/Integritetspolicy"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Privacy Policy</span></span></a></li>
                <li><a title="Budo &amp; Fitness Partner" href="//budofitness.se/affiliate"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Partner / Affiliate</span></span></a></li>
                <li><a title="Budo &amp; Fitness Franchise" href="//budofitness.se/franchise"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Franchise</span></span></a></li>
                <li><a title="Team Budofitness" href="https://budofitness.se/team"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Team Budofitness</span></span></a></li>
                <li><a title="Free jobs" href="//budofitness.se/rekrytering"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Free jobs</span></span></a></li>
                <li><a title="credit application" href="//budofitness.se/budofitnesskreditansokan"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">credit application</span></span></a></li>
                <li><a title="Budo &amp; Fitness Card" href="//budofitness.se/budofitnesskortet"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">The Budofitness card</span></span></a></li>
                <li><a title="Budofitness school" href="//budofitness.se/budofitnessskolan"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Budofitness FAQ</span></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid12-3">
    <div class="collapsible mobile-collapsible">
        <h6 class="block-title heading"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Shops / Departments</span></span></h6>
        <div class="block-content">
            <ul class="disc">
                <li><a href="{{config path="web/secure/base_url"}}dealers/"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Shops with map</span></span></a></li>
                <li>{{widget type="cms/widget_page_link" anchor_text="Sthlm Sveavägen" title="Budo & Fitness Sthlm Sveavägen" template="cms/widget/link/link_block.phtml" page_id="16"}}<span style="vertical-align: inherit;"><span style="vertical-align: inherit;">City</span></span></li>
                <li>{{widget type="cms/widget_page_link" anchor_text="Sthlm Megastore" title="Budo & Fitness Sthlm Megastore" template="cms/widget/link/link_block.phtml" page_id="19"}}<span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Vastberga</span></span></li>
                <li>{{widget type="cms/widget_page_link" anchor_text="Uppsala" title="Budo & Fitness Uppsala" template="cms/widget/link/link_block.phtml" page_id="20"}}</li>
                <li>{{widget type="cms/widget_page_link" anchor_text="Göteborg" title="Budo & Fitness Göteborg" template="cms/widget/link/link_block.phtml" page_id="22"}}</li>
                <li>{{widget type="cms/widget_page_link" anchor_text="Malmö" title="Budo & Fitness Malmö" template="cms/widget/link/link_block.phtml" page_id="23"}}</li>
                <li><a title="Club Purchase" href="https://budofitness.se/klubbinkop"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Club Purchase</span></span></a></li>
                <li><a title="companies Exercise" href="//budofitness.se/foretagsmotion"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">companies Exercise</span></span></a></li>
                <li><a title="wholesale Department" href="https://budofitness.se/b2b"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">wholesale Department</span></span></a></li>
                <li><a title="Budofitness Service &amp; Installation" href="https://budofitness.se/service"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Service / Installation</span></span></a></li>
                <li><a title="Powered by Budofitness" href="http://poweredbybudofitness.se/"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Powered by Budofitness</span></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid12-3">
    <div class="collapsible mobile-collapsible">
        <h6 class="block-title heading"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Products / Categories</span></span></h6>
        <div class="block-content">
            <ul class="disc">
                <li><a title="Budofitness Martial Arts / Products" href="//budofitness.se/kampsport-produkter.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Martial Arts products</span></span></a></li>
                <li><a title="Budofitness Martial Arts / Style" href="//budofitness.se/kampsport-stil.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Martial arts style</span></span></a></li>
                <li><a title="Kampsportsgym" href="https://budofitness.se/kampsport-produkter/kampsportsgym.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Kampsportsgym</span></span></a></li>
                <li><a title="Budofitness Supplements" href="//budofitness.se/kosttillskott.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">supplements</span></span></a></li>
                <li><a title="Dietary Supplements Package &amp; Large Pack" href="https://budofitness.se/kosttillskott/fardiga-paket.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Supplements package</span></span></a></li>
                <li><a title="Budofitness Exercise Equipment" href="//budofitness.se/traningsutrustning.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Training Equipment</span></span></a></li>
                <li><a title="Budofitness Workout Clothes" href="//budofitness.se/traningsklader.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Workout clothes</span></span></a></li>
                <li><a title="Budofitness Weightlifting Shoes" href="https://budofitness.se/traningsklader/lyftarskor.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Weightlifting Shoes</span></span></a></li>
                <li><a title="Budofitness Brands" href="//budofitness.se/varumarken.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">trademarks</span></span></a></li>
                <li><a title="Budofitness Bargains" href="//budofitness.se/fynd.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Bargain</span></span></a></li>
                <li><a title="Budofitness Stock Cleaning" href="https://budofitness.se/fynd/fynd-50.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Clearance</span></span></a></li>
                <li><a title="Budofitness Promotions" href="https://budofitness.se/fynd/kampanjer-kampanjer.html"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">promotions</span></span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="grid12-3">
    <div class="collapsible mobile-collapsible">
        <h6 class="block-title heading"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Contact Us</span></span></h6>
        <div class="block-content">
            <div class="feature indent first feature-icon-hover">
                <p class="no-margin"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Budo &amp; Fitness Sport AB</span></span></p>
                <p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Staffanstorpsv&auml;gen 115 </span></span><br /><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">232 61 Arl&ouml;v</span></span></p>
                <p><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Org: 556053-3423</span></span></p>
            </div>
            <div class="feature indent feature-icon-hover">
                <p class="no-margin"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Customer service was 10-18 </span></span><br /><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">08-673 33 50, 040-94 88 88</span></span></p>
            </div>
            <div class="feature indent feature-icon-hover">
                <p class="no-margin"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">Customer service: </span></span><a title="Email Budofitness customer service" href="mailto:kundservice@budofitness.se"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">customer </span></span></a><span style="vertical-align: inherit;"><a title="Maila Budofitness info" href="mailto:info@budofitness.se"><span style="vertical-align: inherit;">service@budofitness.se</span></a></span><br /><span style="vertical-align: inherit;"><span style="vertical-align: inherit;"> Questions: </span></span><a title="Email Budofitness info" href="mailto:info@budofitness.se"><span style="vertical-align: inherit;"><span style="vertical-align: inherit;">info@budofitness.se</span></span></a></p>
            </div>
            <!--<div class="feature indent feature-icon-hover hide-below-960">
            <p class="no-margin">Skype: sample-username<br />Skype: dummy-login</p>
            </div>--></div>
    </div>
</div>
